.card{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 10px;
    position: relative;
    .editButton{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .listHeading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #FF652F;
        .holder{
            width: 100%;
            align-items: center;
            justify-content:space-evenly;
            display: flex;
            flex-direction: row;
            .author{
                color: #FF652F;
                display: flex;
                font-size: 20px;
                font-weight: 700;
            }
            .date{
                display: flex;
                color: lightgray;
                font-size: 14px;  
            }
        }
    }
    
    .fullHeightCard{
        height: 100%;
    }
    
    .grid{
        display: flex;
    }
    .content{
        color: white;
        padding: 0 10px;
        font-size: 13px;
    }
    .listFooting{
        padding: 0 16px 8px 16px;
        display: flex;
        justify-content: space-between;
        .thumbs{
            color:white;
            .thumbsUp{
                color:white;
                &.active{
                    color: #FF652F;
                }
            }
            .thumbsDown{
                color:white;
                &.active{
                    color: #FF652F;
                }
            }
        }
        .delete{
            color: white;
        }
        
    }
}
