.card{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    height: 100%;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 10px;
    .listHeading{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .holder{
            width: 100%;
            align-items: center;
            justify-content:space-evenly;
            display: flex;
            flex-direction: row;
            .author{
                display: flex;
            }
            .date{
                display: flex;
                color: gray;
                font-size: 14px;  
            }
        }
    }
    .listMiddle{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        .optionsButton{
            display: flex;
        }
    }
    
    .fullHeightCard{
        height: 100%;
    }
    
    .grid{
        display: flex;
    }
    
    .details{
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    .title{
        padding: 0 16px;
    }
    .listFooting{
        padding: 0 16px 8px 16px;
        display: flex;
        justify-content: space-between;
    }
}
