.content{
    .contentGrid{
        justify-content: center;
        align-items: stretch;
        .openForm{
            background-color: white;
            margin-top: 30px;
            border-radius: 20px;
            height: 80px;
            .button{
                width: 100%;
                align-items: center;
                justify-content: center;
                color: black;
            }
        }
    }
}